.html,body{
    margin: 80px;
}
.container{
    width: 80vw;
    height: 80vh;
    margin:auto;
    background-color:lightgoldenrodyellow;
    border-radius: 12px;
    padding-top: 100px;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    height: 25px;
    text-align: center;
}
th{
    border: 1px solid black;

}
tr{
    border: 1px solid black;
    height: auto;
}
td{
    border: 1px solid black;
    width: auto;
}
.addbutton{
    width: 65px;
    height: 30px;
    background-color: #4CAF50;
    color: white;
    border-radius: 6px;
    margin-left: 90%;
    margin-bottom: 3%;
    cursor: pointer;
}
input[type=button]{
    cursor: pointer;
}
#pageDiv{
    margin-top: 10px;
    display: flex;
    align-items: center;
    /* background-color: #4CAF50; */
}
#pageDiv button{
    width: 70px;
    height: 29px;
}
#page2Div{
    margin-left: 25%;
    /* background-color: aqua; */
}